.form-auth {
    max-width: 460px;
    padding: 30px;
}

/* .input{
    background-image: url('/assets/app/email.png'); 
    background-position: right center;
    background-repeat: no-repeat;
} */

span{
    vertical-align: text-bottom;
}

.lnk a:hover {
    border-bottom: 2px solid;
}


